body {
  font-family: sans-serif;
  color: black;
  background-color: white;
}

header {
  color: #black;
  width: 100%;
  hight: 100%;
}

img {
  margin: 10px auto;
  height: auto;
  width: auto;
}

.kontrovers
.quer
.B1
.BR24{
display: inline-flex;
flex-direction: row;
}
